@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');




.flex{
    display:flex;
    flex: row;
    flex-wrap: nowrap;
    justify-content: center;
}


.form {
 font-family: 'Poppins',
 sans-serif;
 width: 30rem;
 background-color: white;
 border-radius: 1.0rem;
}


input{
padding: 17px 12px 12px 17px;
margin: 20px 20px 20px 30px;
width: 80%;
border-radius: 0.2rem;
font-weight: bold;
letter-spacing: 1px;
color:grey;
}

.form, input, label{
    display:block;
    
}

.form, input{
     font-family: 'Poppins',
     sans-serif;
     
    
}

.but-one{
  font-family: 'Poppins',
  sans-serif;

  background-color:hsl(248, 61%, 45%);

  font-family: 'Poppins',
  sans-serif;

  color:white;
  margin: 20px 20px 20px 30px;
  padding: 15px 12px 12px 15px;
  border-radius: 0.9rem;
  border: black;
  box-shadow: 5px 5px 5px grey;
  display:block;
  width: 25.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
 

}




.but-two{
   font-family: 'Poppins',
   sans-serif;

   background-color:hsl(154, 59%, 51%);

   font-family: 'Poppins',
   sans-serif;

   color:white;
   margin: 20px 20px 20px 30px;
   padding: 15px 12px 12px 15px;
   border-radius: 0.9rem;
   border: black;
   box-shadow: 5px 5px 5px grey;
   display:block;
   width: 25.6rem;
   text-transform: uppercase;
   letter-spacing: 2px;
   cursor: pointer;
}

.para-two{
    color:grey;
    font-size: 12px;
    margin-left: 40px;
}

.span{
    color:rgb(201, 183, 183);
}

.span-two{
    color:hsl(0, 100%, 74%);
    /* color:black; */
    font-weight: bold;
}


/* add this class when inputs are empty */

.empty-input{
    background-color: rgb(173, 6, 6);
    padding: 10px;
}



/* infomation on needed */

.fillfirst {
    display: none;
    margin-left: 30px;
    font-size: 13px;
   
}

.filllast{
  display: none;
  margin-left: 30px;
  font-size: 13px;
}

.fillemail {
    display: none;
    margin-left: 30px;
    font-size: 13px;
}


.fillpass {
    display: none;
    margin-left: 30px;
    font-size: 13px;
}