@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



body {

    font-size: 16px;
    background-image: url('../../images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    margin: 100px 20px 20px 18px;


}



/* mobile to tablet */

@media (min-width: 150px) and (max-width: 900px) {
    body{
        margin-top: 30px;
        margin-right: 40px;
    }

  

    .flex {
        display: flex;
        flex: container;
        flex-wrap: wrap;
        justify-content: center;
    }

    header {
        padding-top: 2px;
        margin-left: 40px;
        margin-bottom: 20px;
        text-align: center;
        
    }

    .form {
        width: 22.5rem;
        border-radius: 1.0rem;
        margin-left: 42px;
        
    }

     input{
      width: 75%;
    }

    .but-one {
        margin: 12px 10px 20px 18px;
        padding: 10px 10px 5px 25px;
        border-radius: 0.9rem;
    
        width: 20rem;
      
       

    }

    .but-two{
        width: 20rem;
        margin: 20px 20px 20px 22px;
        
    }
}




@media(min-width: 320px) and (max-width:440px){
     header {
         padding-top: 20px;
         margin-left: 25px;
         margin-bottom: 20px;
       text-align: center  
         
     }

     .para-one{
    width: 260px;
     padding-left: 78px;
     }

     .form{
         width:19rem;
     }

     .but-one{
         margin: 12px 10px 20px 28px;
         padding: 10px 10px 2px 28px;
         border-radius: 0.9rem;

         width: 15rem;
     }

     .but-two {
         width: 15rem;

     }

      input {
          width: 72%;
      }


}